################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Csharp-Evaluation-Problem-Solving/obj
/Csharp-Evaluation-Problem-Solving/Problem1-ProductionScheduleMerger/bin/Debug/net10.0
/Csharp-Evaluation-Problem-Solving/Problem1-ProductionScheduleMerger/obj
/Csharp-Evaluation-Problem-Solving/Problem2-QualityControlValidator/bin/Debug/net10.0
/Csharp-Evaluation-Problem-Solving/Problem2-QualityControlValidator/obj
/Csharp-Evaluation-Problem-Solving/Problem3-WorkerActivityTracker/bin/Debug/net10.0
/Csharp-Evaluation-Problem-Solving/Problem3-WorkerActivityTracker/obj
